/* components.css => UI , Slider 등 관련 */
.skill-swiper-wrapper .swiper-wrapper {
    padding: 2rem 0;
}

.skill-swiper-wrapper .skill-swiper {
    overflow: hidden; /* 기본적으로 스크롤 숨김 */
}
.skill-swiper-wrapper.active {
    touch-action: none;
}
.skill-swiper-wrapper.active .skill-swiper {
    overflow: visible;
    width: 100%;
    touch-action: none;
}
.skill-swiper-wrapper.active .swiper-slide {
    position: static;
    touch-action: none;
}

/*스크램블 버튼*/
#go-outside-btn-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease;
    opacity: 1;
}
.scramble-btn-wrapper {
    pointer-events: none;
}
.scramble-btn {
    padding: 0;
    position: relative;
    width: calc(316px* var(--size));
    height: calc(76px* var(--size));
    font-size: calc(52px* var(--size));
    padding-bottom: calc(8px* var(--size));
    padding-left: calc(16px* var(--size));
    font-family: var(--orbitron);
    font-weight: 700;
    line-height: 1;
    color: var(--color-primary);
    border: min(.45vw, .45vh) solid var(--color-primary);
    border-radius: min(1vw, 1vh);
    border-top-left-radius: min(2.8vw, 2.8vh);
    transition: letter-spacing .3s ease-in-out, transform .14s ease-out, opacity .14s ease-out;
    backdrop-filter: blur(4px);
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    background-color: transparent;
    cursor: pointer;
}
#go-outside-btn-wrapper.active {
    opacity: 0 !important;
    touch-action: none !important;
}
#go-outside-btn-wrapper.active .scramble-btn {
    touch-action: none !important;
    pointer-events: none !important;
}
.scramble-btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: min(.8vw, .8vh);
    border-top-left-radius: min(2.4vw, 2.4vh);
    background: var(--color-primary-invert);
    transition: opacity .14s ease-out;
    opacity: .4;
}
/*
.scramble-btn-wrapper:hover .scramble-btn::before{
    opacity: .75;
}*/
.scramble-btn span{
    transition: letter-spacing 0.3s ease-in-out;
}
/*
.scramble-btn:hover span {
    letter-spacing: calc(4px* var(--size));
}*/
.scramble-btn svg {
    position: absolute;
    left: calc(5px* var(--size));
    bottom: calc(5px* var(--size));
    width: calc(33.87px* var(--size));
    height: calc(47.36px* var(--size));
    fill: var(--color-primary);
    top: 50%;
    transform: translateY(-50%);
}
.scramble-btn .scramble-btn-top-text {
    position: absolute;
    top: calc(3px* var(--size));
    right: calc(7px* var(--size));
    font-size: calc(11px* var(--size));
    font-family: 'Monomaniac, sans-serif';
    font-weight: 400;
    line-height: 1;
    color: var(--color-primary);
}
.scramble-btn .scramble-btn-bottom-text {
    position: absolute;
    bottom: calc(2px* var(--size));
    right: calc(7px* var(--size));
    font-size: calc(13px* var(--size));
    font-family: 'Monomaniac, sans-serif';
    font-weight: 400;
    line-height: 1;
    color: var(--color-primary);
}
.skill-icon {
    font-size: 24px;
    color: transparent;
    font-family: 'Orbitron', sans-serif;
    width: 180px;
    height: 25px;
    padding: 20px 30px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 0;
    background: linear-gradient(135deg, rgba(255, 0, 255, 0.3) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(78, 222, 233, 0.3) 100%);
    transform-style: preserve-3d;
    backdrop-filter: blur(5px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    overflow: hidden;
}
.skill-icon::after {
    content: attr(id);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewX(-10deg);
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    clip-path: inset(0 0 50% 0);
    opacity: 1; 
    animation: glitch 2s infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    z-index: 5;
    font-size: calc(20px * var(--size));
    filter: none;
}

/*projects-swiper*/
.projects_swiper{
    width: 100%;
    height: 100%;
}
.projects_swiper .projects-slide {
    background: url(../../public/images/projects-section/1.png)no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: .5vw;
}
#my-projects-section .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: calc(100% - 10px) !important;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*projects-section exit_btn*/
.leftDiv_exit_btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2rem;
    top: 40px;  
    z-index: 10002;
}
.leftDiv_exit_btn span{
    position: absolute;
    left: calc(50% -(70% / 2));
    display: block;
    height: 3px;
    width: 70%;
    background-color: var(--color-primary);
}
.leftDiv_exit_btn span:nth-child(1){
    top: calc(50% - 4px);
    transform: translate(0, 3px) rotate(45deg);
}
.leftDiv_exit_btn span:nth-child(2){
    bottom: calc(50% - 4px);
    transform: translate(0, -3px) rotate(-45deg);
}
.leftDiv_moreinfo_btn{
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    width: calc(90px * var(--size));
    height: calc(90px * var(--size));
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}
.leftDiv_moreinfo_btn div{
    border: 0.6vw rgb(125,240,250) dashed;
    /* border-style: ; */
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    opacity: 0.8;
    font-size: 3vw;
    animation: spinning 50s linear infinite;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    transition: background-color .5s linear;
}
.leftDiv_moreinfo_btn span {
    font-size: calc(14px * var(--size));
    font-weight: bold;
    transition: color .5s linear;
}