/* global.css => 공통 모듈 CSS */
::selection {
    color: var(--main-clr);
    background: var(--point2-clr);
}
body{
    background-color: #0B0C10;
    background-image: url(../../public/images/intro/night-sky-nuki4k.png);
    background-repeat: repeat-y;
    background-position: center;
    color: #F8F9FA;
    width: 100%;
    overflow: hidden;
}
body::-webkit-scrollbar{
    width: 6px;
    background: transparent;
    height: 1px;
}
body::-webkit-scrollbar-thumb{
    background: rgba(0, 255, 255, 0.3);
    border: 1px solid rgba(0, 255, 255, 0.5);
    border-radius: 3px;
}
body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-clr);
    border-radius: 5px;
}
body.is-ready{
    overflow-y: auto;
    overflow-x: hidden;
}
:root{
    --body-bg-clr: #0B0C10; /*Deep Space Black*/
    --main-clr: #F8F9FA; /*Neon White*/
    --point-clr: #00FFA2; /*에머랄드 그린*/
    --point2-clr: #00D4FF; /*네온 블루*/
    --point3-clr: #FFEA00; /*해킹 옐라*/
    --point4-clr: #9effff;
    --color-primary: #4edee9;
    --color-primary-invert: #00494e;
    --color-secondary: #ff598e;
    --color-secondary-invert: #5c001d;
    --red: #fc199a;
    --yellow: #ffcc00;
    --green: #61e2ff;
    --scrollbar-track-clr: #1A1D22; /* 다크 그레이 */
}
:root{

    --close: radial-gradient(circle, var(--red), var(--red) 7px, transparent 8px);
    --min: radial-gradient(circle, var(--yellow), var(--yellow) 7px, transparent 8px);
    --max: radial-gradient(circle, var(--green), var(--green) 7px, transparent 8px);
}
:root{
    --grid-gutter: 1rem;
}
:root{
    --orbitron : 'Orbitron', sans-serif;
    --sf-mono : SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

/*클래스모음*/
.uppercase {
    text-transform: uppercase;
    word-spacing: -4px; 
}
.text-balance {
    text-wrap: balance;
    word-break: keep-all;
}
.indent {
    padding-left: 1rem;
}
.lightblue {
    color: #00cdfb !important;
    text-shadow: 0 0 3px #63c4db5c;
}
.lightgreen {
    color: #0c8101 !important;
    filter: blur(.2px) brightness(0.5);
    text-shadow: 0 0 3px #0b641b71;
}
.yellapoint {
    color: var(--point3-clr) !important;
    text-shadow: 0 0 3px #0b641b71;
}
.point-dot {
    color: var(--point2-clr);
}
.point-angle {
    color: var(--point-clr);
}
.point-notice {
    color: var(--color-secondary);
}



/*keyframes모음*/
/* 첫 번째 텍스트 애니메이션 */
@keyframes helloWorld {
    0% {
        transform: translate(-50%, -50%) scaleX(0);
    }
    100% {
        transform: translate(-50%, -50%) scaleX(1);
    }    
}
/* 위아래 흔들리는 애니메이션 */
@keyframes helloWorld2 {
    0% {
        transform: translate(-50%, -50%);
    }
    30% {
        transform: translate(-50%, -70%);
    }
    60% {
        transform: translate(-50%, -50%);
    }
    90% {
        transform: translate(-50%, -70%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
/* 원이 줄어드는 애니메이션 */
@keyframes shrinkCircle {
    0% {
        transform: translate(-50%, -50%) scale(5);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}
/* 텍스트가 사라지는 애니메이션 (원에 의해 먹히는 효과) */
@keyframes hideText {
    0% {
        opacity: 1;
        clip-path: circle(100%);
        -webkit-clip-path: circle(100%);
    }
    100% {
        clip-path: circle(0%);
        -webkit-clip-path: circle(0%);
    }
}
/*스타블링크*/
@keyframes starBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes beforeScaleTo1 {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes goTopIntro {
    0% {
        transform: translateY(0);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-102%);
        opacity: 0;
    }
}
@keyframes goDownIntro {
    0% {
        transform: translateY(0);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(102%);
        opacity: 0;
    }
}
@keyframes hiItsMeRotate {
    0% {
        transform: translateX(-50%) rotate(-20deg) scale(1.4);
    }
    100% {
        transform: translateX(-50%) rotate(0) scale(1);
    }
}
/* 네온 빛나는 애니메이션 */
@keyframes neonGlow {
    0% {
        text-shadow: 0px 0px 3px var(--point-clr), 0px 0px 7px var(--point-clr);
    }
    50% {
        text-shadow: 0px 0px 8px var(--point-clr), 0px 0px 12px var(--point-clr);
    }
    100% {
        text-shadow: 0px 0px 3px var(--point-clr), 0px 0px 7px var(--point-clr);
    }
}
/* 해킹 코드 스크롤 애니메이션 */
@keyframes hackingScroll {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}
@keyframes glitch {
    0%, 100% {
        text-shadow: none;
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
    30% {
        text-shadow: 2px 2px #FFD700, -2px -2px #00FFA2;
        clip-path: inset(10% 0 15% 0);
        -webkit-clip-path: inset(10% 0 15% 0);
    }
    35% {
        text-shadow: -2px -2px #FFD700, 2px 2px #00FFA2;
        clip-path: inset(5% 0 10% 0);
        -webkit-clip-path: inset(5% 0 10% 0);
    }
    40% {
        text-shadow: none;
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
}
@keyframes glitch-delay {
    0%, 95% {
        opacity: 1;
        transform: none;
    }
    96% {
        opacity: 0.8;
        transform: translateX(2px);
    }
    97% {
        opacity: 1;
        transform: translateX(-2px);
    }
    98% {
        opacity: 0.9;
        transform: none;
    }
    99% {
      opacity: 1;
    }
}
@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes take-a-look-svg {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(-10%);
    }
}
@keyframes glitch-svg {
    0% { filter: drop-shadow(2px 2px 5px #00D4FF)}
    50% { filter: drop-shadow(-2px -2px 5px #00FFA2)}
    100% { filter: drop-shadow(2px 2px 5px #00D4FF)}
}
@keyframes letHeaderDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes letHeadertongtong {
    0%,50%,100%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-16%);
    }
    75%{
        transform: translateY(-4%);
    }
}
@keyframes ufoDown {
    0% {
        transform: perspective(800px) rotate3d(1, 0, 0, 0deg) translate3d(-50%, -300%, -1800px) scale(0.4);
        opacity: .0;
    }
    100% {
        transform: perspective(800px) rotate3d(1, 0, 0, 0deg) translate3d(-50%, -25%, -600px) scale(1);
        opacity: 1;
    }
}
@keyframes ufoLightOn {
    0% , 50%, 100%{transform: perspective(800px) rotate3d(1, 0, 0, 0deg) translate3d(-50%, -25%, -600px) scale(1);}
    25%, 75%{transform: perspective(800px) rotate3d(1, 0, 0, 0deg) translate3d(-50%, -60%, -600px) scale(1);}
}
@keyframes ufoComing {
    0% {
        transform: perspective(800px) rotate3d(0, 0, 0, 0deg) translate3d(-50%, -25%, -600px);
    }
    100% {
        transform: perspective(800px) rotate3d(1, 0, 1, 0deg) translate3d(-50%, -25%, 0px);
    }
}
@keyframes beam-down-move {
    0% { opacity: 0; transform: translateX(-50%) scaleY(0.2); height: 0px; }
    100% { opacity: 0.8; transform: translateX(-50%) scaleY(1); height: 200px;}
}
@keyframes beam-X-Y-move {
    0%, 100% {clip-path: polygon(50% 0%, 100% 100%, 0% 100%);}
    40% {
        clip-path: polygon(50% 0%, 68% 100%, -18% 100%);
    }
    80% {
        clip-path: polygon(50% 0%, 137% 100%, 55% 100%);
    }
}
@keyframes ball-after-beam {
    0% { transform: translate(-50%, 0px) scale(0); opacity: 0;}
    80% { transform: translate(-50%, 180px) scale(1); opacity: .8;}
    100% { transform: translate(-50%, 200px); opacity: 0;}
}
@keyframes ball-after-beam-off {
    0% { opacity: 0.8; }
    100% { opacity: 0; }
}
@keyframes ufo-go {
    0% { transform: translate3d(-50%, -25%, 0px);}
    10% { transform: translate3d(-35%, -25%, 0px); }
    20% { transform: translate3d(-50%, -25%, 0px); }
    30% { transform: translate3d(-35%, -25%, 0px); }
    40% { transform: translate3d(-50%, -25%, 0px); }
    75% { opacity: .3 }
    100% { transform: translate3d(-20000px, -25%, 0px); opacity: 0 }
}
@keyframes my-self-dot-on {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes my-self-dot-X-move {
    0%, 100%{ transform: translate(-50%, -50%);}
    20%, 60%{ transform: translate(-35%, -50%);}
    40%, 80%{ transform: translate(-65%, -50%);}
}
@keyframes my-self-dot-bigger {
    0% { 
        box-shadow: 0 0 20px rgba(0, 255, 162, 1), 0 0 40px rgba(0, 255, 161, 1),
        0 0 60px rgba(0, 255, 164, 1), 0 0 80px rgba(0, 255, 161, 1);
    }
    100% {
        box-shadow: 0 0 0 30px rgba(0, 255, 161, 0.1),
        0 0 0 60px rgba(0, 255, 161, 0.1), 0 0 0 120px rgba(0, 255, 161, 0.1),
        0 0 0 240px rgba(0, 255, 161, 0.1), 0 0 0 480px rgba(0, 255, 161, 0.1),
        0 0 0 960px rgba(0, 255, 161, 0.1);
    }
}
@keyframes my-self-dot-disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes hello-im-dustin-wrapper-on {
    0% { transform: translate(-50%, -50%) scale(0); opacity: 0;}
    60% { opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); }
}
@keyframes width-go {
    0% {
        transform: translateX(-50%) scaleX(0);
    }
    100% {
        transform: translateX(-50%) scaleX(1);
    }
}
@keyframes height-go {
    0% {
        transform: translateY(-50%) scaleY(0);
    }
    100% {
        transform: translateY(-50%) scaleY(1);
    }
}
@keyframes mountain-on {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scrollSlow {
    0% {
        opacity: 0; transform: translate(-70%, -125%);
    }
    25% {
        opacity: 1; transform: translate(-70%, -145%);
    }
    50% {
        transform: translate(-70%, -125%);
    }
    75% {
        transform: translate(-70%, -145%);
    }
    100% {
        opacity: 1; transform: translate(-70%, -125%);
    }
}
@keyframes floating {
    from {
        transform: translate3d(0, 1vmin, 100px) rotate3d(0, 0, 1, 2deg);
    }
    to {
        transform: translate3d(0, -1vmin, 100px) rotate3d(0, 0, 1, -2deg);
    }
}
@keyframes planetGoBig {
    0% { transform: rotateX(0deg) scale(1) translate(0, 0)}
    7% { transform: rotateX(0deg) scale(1.1) translate(-20%, 0);}
    14% { transform: rotateX(0deg) scale(1.2) translate(20%, 0);}
    21% { transform: rotateX(0deg) scale(1.3) translate(-20%, 0);}
    29% { transform: rotateX(0deg) scale(1.4) translate(20%, 0);}
    35% { transform: rotateX(0deg) scale(2.2) translate(0, 0);}
    45% { transform: rotateX(0deg) scale(3.5) translate(0, 0);}
    100% { transform: rotateX(0deg) scale(40);}
}
@keyframes okGo {
    0% {
        opacity: 1; transform: rotateX(0deg) scale(40);
    }
    100% {
        opacity: 0; transform: rotateX(0deg) scale(40);
    }
}
@keyframes floatTheParticles {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    50% { transform: translateY(-50px) scale(1.2); opacity: 0.5; }
    100% { transform: translateY(-100px) scale(1); opacity: 1; }
}
@keyframes fadeOutEffect {
    0% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        filter: blur(10px);
    }
}
@keyframes opacityZeroToHunnid {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes WarpOutPlanetGoBig {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}
@keyframes warpOutPlanetGoBigForTheSwiper {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.2);
    }
}
@keyframes skillWidthChange {
    from {
        width: 0%;
    }
}
@keyframes theTextBoxClicked {
    0% {
        transform: scale(1); opacity: 1;
    }
    100% {
        transform: scale(1.2); opacity: 0;
    }
}
@keyframes blinkSF {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes superblinkSF {
    to {
        opacity: 1;
    }
}
@keyframes rockmanmegaX8 {
    from {
        opacity: 0;
        transform: translate(-50%, 0%);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}
@keyframes rockmanmegaX8right {
    from {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    to {
        opacity: 0;
        transform: translate(50%, 0%);
    }
}
@keyframes forLeftDiv {
    from {
        opacity: 0;
        transform: rotateY(0deg) translate(-50%, 0%);
    }
    to {
        opacity: 1;
        transform: rotateY(35deg) translate(0%, 0%);
    }
}
@keyframes forRightDiv {
    from {
        opacity: 0;
        transform: rotateY(0deg) translate(50%, 0%);
    }
    to {
        opacity: 1;
        transform: rotateY(-40deg) translate(0%, 0%);
    }
}
@keyframes spinning
{
  0% { transform: rotate(0deg) translateZ(2vw);}
  100% { transform: rotate(360deg) translateZ(2vw);}
}
@keyframes rotate-the-core-wrapper {
    0% { transform: translate(-50%, -50%) rotateY(0deg);}
    100% { transform: translate(-50%, -50%) rotateY(360deg);}
}
@keyframes arrow-animation {
    0% {
        transform: translateZ(0);
    }
    
    33% {
        transform: translate3d(0, 1em, 0);
    }
    100% {
        transform: translate3d(0, 1em, 0);
    }
}
@keyframes text-animation {
    0% {
        transform: translateZ(0);
    }
    33% {
        transform: translate3d(0, 1.5em, 0);
    }
    
    100% {
        transform: translate3d(0, 1.5em, 0);
    }
}
@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}