/* responsive-desktop.css => 1280px 이상 */
@media (min-width: 1280px) {
    #intro-section span {
        font-size: 7rem;
    }
    #its-me-wrapper{
        max-width: 1280px;
    }
    header > a.my-name:hover {
        color: var(--point-clr);
        text-shadow: 0 0 1px var(--point-clr), 0 0 3px var(--point2-clr), 0 0 3px var(--point-clr);
        filter: blur(0.2px);
        -webkit-filter: blur(0.2px);
    }

    header > a.my-name::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: var(--point-clr);
        box-shadow: 0px 0px 10px var(--point-clr);
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
        will-change: width, left;
    }
    header > a.my-name:hover::after {
        width: 100%;
        left: 0;
    }
    main {
        max-width: 1280px;
    }
    #wait-for-the-ufo {
        width: 340px;
        height: 80px;
    }
    #wait-for-the-ufo > span{
        font-size: 21px;
    }
    .the-planet.on:hover {
        box-shadow: 0px 0px 40px 10px var(--point4-clr) !important;
    }
    .the-planet:hover:before {
        filter: brightness(1.3) blur(2px);
        -webkit-filter: brightness(1.3) blur(2px);
        box-shadow: 0px 0px 20px 5px #4e8792b8;
    }
    .the-planet:hover:after {
        filter: brightness(1.3) blur(2px);
        -webkit-filter: brightness(1.3) blur(2px);
        box-shadow: 0px 0px 20px 15px #4e8792b8;
    }
    #desc-img-myself {
        width: 35% !important;
    }
    #desc-duce-myself {
        width: 65% !important;
    }
    .skill-swiper-wrapper .container:hover .card {
        transform: scale(1.05);
        box-shadow: 0px 0px 25px rgba(0, 255, 162, 0.6);
    }
}