/* 전역 스타일 */

/*header*/
#header-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 100;
    transform: translateY(-100%);
    animation: 
        letHeaderDown .4s 5.5s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards, 
        letHeadertongtong .625s 5.9s ease-out forwards;
}
#header-section header {
    padding: 20px;
    display: flex;
    width: 100%;
    max-width: 90%;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
}
#header-section header .my-name {
    font-size: 21px;
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: .25rem;
}

/*intro*/
#intro-section {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #0B0C10, #111826, #19273A, #0B0C10);
}

#intro-section > span.hello-world {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: left;
    display: inline-block;
    animation: 
        helloWorld .4s .5s ease forwards, 
        helloWorld2 .8s .95s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards,
        hideText 1s 2s ease forwards;
    -webkit-animation: 
        helloWorld .4s .5s ease forwards, 
        helloWorld2 .8s .95s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards,
        hideText 1s 2s ease forwards;
    z-index: 3;
}

#intro-section #theCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%) scale(5);
    transform-origin: center;
    border-radius: 5000px;
    z-index: 3;
    border-left: 3px solid var(--point-clr);
    border-top: 3px solid var(--point-clr);
    border-right: 3px solid var(--point2-clr);
    border-bottom: 3px solid var(--point2-clr);
    filter: blur(.75px);
    -webkit-filter: blur(.75px);
    opacity: 1;
    animation: shrinkCircle 1s 1.8s ease-in-out forwards;
    -webkit-animation: shrinkCircle 1s 1.8s ease-in-out forwards;
}
.intro-div {
    position: relative;
    text-align: center;
    background: var(--body-bg-clr);
    width: 100%;
    height: 50%;
    z-index: 2;
}
.intro-div-top:before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    background: var(--point-clr);
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: opacity .1s ease;
    animation: beforeScaleTo1 .3s 3s linear forwards, starBlink .3s 3.5s ease-in-out 2, starBlink .4s 4.4s ease-in-out forwards;
    -webkit-animation: beforeScaleTo1 .3s 3s linear forwards, starBlink .3s 3.5s ease-in-out 2, starBlink .4s 4.4s ease-in-out forwards;
}
.intro-div-bottom:before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    background: var(--point2-clr);
    top: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: opacity .1s ease;
    animation: beforeScaleTo1 .3s 3s linear forwards, starBlink .3s 3.5s ease-in-out 2, starBlink .4s 4.4s ease-in-out forwards;
    -webkit-animation: beforeScaleTo1 .3s 3s linear forwards, starBlink .3s 3.5s ease-in-out 2, starBlink .4s 4.4s ease-in-out forwards;
}
.intro-div-top {
    transform: translateY(0%);
    animation: goTopIntro 1.5s 4.8s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards;
    -webkit-animation: goTopIntro 1.5s 4.8s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards;
}
.intro-div-bottom {
    transform: translateY(0%);
    animation: goDownIntro 1.5s 4.8s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards;
    -webkit-animation: goDownIntro 1.5s 4.8s cubic-bezier(0.21, 1.05, 0.38, 1.15) forwards;
}
#its-me-wrapper {
    display: flex;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    transform: translate(-50%, 0) rotate(-20deg) scale(1.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 1px 1px 1px var(--point2-clr);
    text-align: center;
    animation: hiItsMeRotate .4s 4.75s ease-in forwards !important;
    -webkit-animation: hiItsMeRotate .4s 4.75s ease-in forwards !important;
}

#its-me-wrapper h1 {
    animation: neonGlow 2.5s infinite alternate;
    -webkit-animation: neonGlow 2.5s infinite alternate;
}
#its-me-wrapper > div{
    background: radial-gradient(ellipse at center, rgba(0, 255, 255, 0.2), rgba(0, 0, 0, 0.8)); 
    border: 2px solid rgba(0, 255, 255, 0.3);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    justify-content: center;
    position: relative;
}
#its-me-wrapper > div::before {
    content: "0110110 1010101 1101001 0101010 1101011 1010011 1001010 0111010 0011001 1010101 0101001 1110101 0110101 1101011 1010101";
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: rgba(0, 255, 255, 0.3);
    text-align: center;
    white-space: nowrap;
    animation: hackingScroll 8s linear infinite;
    -webkit-animation: hackingScroll 8s linear infinite;
}
#its-me-wrapper > div > div:not(.hacking-text){
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0px 0px 10px var(--point-clr), 0px 0px 20px var(--point-clr);
    filter: blur(.25px);
    -webkit-filter: blur(.25px);
    transition: filter 0.3s ease-in-out;
}
.hacking-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: rgba(0, 255, 255, 0.5);
    white-space: nowrap;
    overflow: hidden;
    animation: hackingScroll 5s linear infinite;
    -webkit-animation: hackingScroll 5s linear infinite;
}
#take-a-look {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    opacity: 0;
    animation: opacityOn .4s 6.4s ease forwards;
    -webkit-animation: opacityOn .4s 6.4s ease forwards;
    gap: 10px;
    z-index: 2;
}
#take-a-look span{
    font-size: 20px !important;
    font-weight: bold;
    position: relative;
    animation: glitch 3s infinite steps(1) alternate, glitch-delay 7s infinite steps(1);
    -webkit-animation: glitch 3s infinite steps(1) alternate, glitch-delay 7s infinite steps(1);
    word-spacing: -5px;
    filter: blur(.325px);
    -webkit-filter: blur(.325px);
}
#take-a-look svg{
    fill: var(--main-clr);
    filter: drop-shadow(2px 2px 5px var(--point2-clr)) drop-shadow(-2px -2px 5px var(--point-clr));
    position: relative;
    animation: take-a-look-svg .8s 6.4s alternate infinite, glitch-svg 3s 6.4s infinite steps(1) alternate;
    -webkit-animation: take-a-look-svg .8s 6.4s alternate infinite, glitch-svg 3s 6.4s infinite steps(1) alternate;
}
.parallax_layer {
    background-position: bottom center;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    background-image: url(../../public/images/intro/night-sky-parallax4k.png);
    z-index: 1;
    opacity: 0;
    animation: mountain-on .4s 6.0s ease-out forwards;
}
.intro-parallax-stars{
    background-position: center center;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    background-image: url(../../public/images/intro/night-sky-nuki4k.png);
}


/* main */
main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.section {
    width: 100%;
    position: relative;
}

/*introduce-section*/
#introduce-myself {
    padding-top: 2rem;
    height: 100vh;
}
#wait-for-the-ufo {
    top: 10%;
    left: 46%;
    width: 180px;
    height: 50px;
    background: #9effff;
    border: 1px solid #9effff;
    border-radius: 7%;
    opacity: 1;
    z-index: 5;
    transform-origin: center;
    transform: translate(-70%, -125%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0B0C10;
    font-weight: 700;
    letter-spacing: -2px;
    filter: blur(.325px);
    -webkit-filter: blur(.325px);
    opacity: 0;
    transition: opacity .3s ease-out;
}
#wait-for-the-ufo.on {
    animation: scrollSlow .8s ease forwards
}
#wait-for-the-ufo::before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -15px;
    top: 29px;
    bottom: auto;
    border: 8px solid;
    border-color: transparent transparent #9effff #9effff;
    border-radius: 4px;
}
#ufo {
    position: absolute;
    top: 10%; /* 화면 위에서 시작 */
    left: 50%;
    width: 100px;
    height: 50px;
    background: var(--main-clr);
    box-shadow: 0 0 20px var(--point2-clr);
    border-radius: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -100%, 400px) rotate3d(1, 0, 0, 0deg);
    opacity: 0;
    z-index: 4;
}
#ufo.on {
    animation: ufoDown 1.6s linear forwards, ufoLightOn .4s 1.6s ease-in forwards, ufoComing 1.2s 2s linear forwards, ufo-go 2s 7.3s ease-in forwards;
    -webkit-animation: ufoDown 1.6s linear forwards, ufoLightOn .4s 1.6s ease-in forwards, ufoComing 1.2s 2s linear forwards, ufo-go 2s 7.3s ease-in forwards;
}
#ufo > div.wtf-is-that {
    position: absolute;
    background: var(--point3-clr);
    width: 3px;
    height: 20px;
    border-radius: 10px;
    filter: blur(.25px);
    -webkit-filter: blur(.25px);
    box-shadow: 0px 0px 10px 3px #ffd9006f;
    top: 0;
    right: 0;
    opacity: 0;
}
#ufo > div.wtf-is-that:first-child {
    top: -15px;
    transform: rotate(34deg);
    right: 2px;
}
#ufo > div.wtf-is-that:nth-child(2) {
    top: -4px;
    transform: rotate(55deg);
    right: -11px;
}
#ufo.light-on  > div.wtf-is-that {
    opacity: 1;
}
#ufo #beam {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0.2);
    width: 120px;
    height: 0px;
    background: radial-gradient(ellipse at center, rgba(0, 255, 255, 0.3) 10%, rgba(0, 255, 255, 0) 80%);
    opacity: 0;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    will-change: height, opacity, transform, clip-path;
    
}
#ufo.on #beam {
    animation: beam-down-move .8s 3.2s ease-in forwards, beam-X-Y-move 1.2s 4s linear forwards, ball-after-beam-off .3s 6.7s ease-in forwards;
    -webkit-animation: beam-down-move .8s 3.2s ease-in forwards, beam-X-Y-move 1.2s 4s linear forwards, ball-after-beam-off .3s 6.7s ease-in forwards;
}
#ball-after-beam {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0e0f12;
    z-index: 2;
    opacity: 0;
    filter: blur(.425px);
    -webkit-filter: blur(.425px);
    box-shadow: 0px 0px 2.25px 2.25px #f8f9fa37;
    will-change: transform, opacity;
}
#ufo.on #ball-after-beam {
    animation: ball-after-beam 1.5s 5.2s linear forwards;
    -webkit-animation: ball-after-beam 1.5s 5.2s linear forwards;
}
#hello-im-dustin-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: rgba(0, 255, 162, 1);
    box-shadow: 0 0 20px rgba(0, 255, 162, 1), 0 0 40px rgba(0, 255, 161, 1),
    0 0 60px rgba(0, 255, 164, 1), 0 0 80px rgba(0, 255, 161, 1);
    border-radius: 50%;
    transition: 1s;
    opacity: 0;
    transform-origin: center;
    z-index: 1;
}
#hello-im-dustin-dot.on {
    animation: my-self-dot-on .8s 7.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards, my-self-dot-X-move .5s 7.9s ease-in forwards, my-self-dot-bigger .5s 8.6s ease-in forwards, my-self-dot-disappear .7s 9.2s ease-out forwards;
    -webkit-animation: my-self-dot-on .8s 7.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards, my-self-dot-X-move .5s 7.9s ease-in forwards, my-self-dot-bigger .5s 8.6s ease-in forwards, my-self-dot-disappear .7s 9.2s ease-out forwards;
}
#hello-im-dustin-wrapper{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 255, 255, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    will-change: transform, opacity;
}
#hello-im-dustin-wrapper.on{
    animation: hello-im-dustin-wrapper-on .5s 8.8s ease-in forwards;
}
.im-dustin-before-and-after{
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background: transparent;
    touch-action: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#hello-im-dustin-before::after{
    content: '';
    width: 95%;
    height: 2px;
    background: var(--main-clr);
    opacity: .4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    touch-action: none;
    transform-origin: left;
}
#hello-im-dustin-before::before {
    content: '';
    width: 95%;
    height: 2px;
    background: var(--main-clr);
    opacity: .4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    touch-action: none;
    transform-origin: right;
}
#hello-im-dustin-after::before {
    content: '';
    width: 2px;
    height: 95%;
    background: var(--main-clr);
    opacity: .4;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    touch-action: none;
    transform-origin: top;
}
#hello-im-dustin-after::after {
    content: '';
    width: 2px;
    height: 95%;
    background: var(--main-clr);
    opacity: .4;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scaleY(0);
    touch-action: none;
    transform-origin: bottom;
}
#hello-im-dustin-before.on::after {
    animation: width-go .4s 9.4s ease-in-out forwards;
}
#hello-im-dustin-before.on::before {
    animation: width-go .4s 9.4s ease-in-out forwards;
}
#hello-im-dustin-after.on::before {
    animation: height-go .4s 9.4s ease-in-out forwards;
}
#hello-im-dustin-after.on::after {
    animation: height-go .4s 9.4s ease-in-out forwards;
}
#real-hello-im-dustin {
    padding: 2rem;
    position: relative;
    background: transparent;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-gutter);
    border-radius: 10px;
}
#real-hello-im-dustin > #hello-dustin-title {
    font-size: 2rem;
    text-shadow: 0px 0px 10px cyan;
    opacity: 0;
}
#hello-im-dustin-wrapper.on #hello-dustin-title{
    animation: opacityOn .4s 9.8s ease forwards;
}
#real-hello-im-dustin > #hello-dustin-desc {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    gap: 20px;
}
#hello-dustin-desc > .dustin-desc-column {
    width: 100%;
    height: 100%;
}
#desc-img-myself{
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius:10px;
    opacity: 0;
}
#hello-im-dustin-wrapper.on #desc-img-myself{
    animation: opacityOn .4s 10.2s ease forwards;
}
#desc-img-myself > div {
    border: 1px solid rgba(127, 222, 254, 0.7); 
    border-radius: 10px;
    background: rgba(184, 237, 255, 0.1);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#desc-img-myself > div > picture{
    display: block;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    height: 80%;
}
#desc-img-myself > div > picture > img{
    width: 100%;
    border-bottom: 1px solid rgba(127, 222, 254, 0.7);
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
}
#desc-img-myself > div > div {
    color: var(--point4-clr);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .325rem;
    padding: 10px;
    height: 20%;
}
#desc-duce-myself {
    opacity: 0;
}
#hello-im-dustin-wrapper.on #desc-duce-myself {
    animation: opacityOn .4s 10.6s ease forwards;
}
#desc-duce-myself > div {
    background: rgba(184, 237, 255, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(127, 222, 254, 0.7);
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-spacing: -2px;
}
#desc-duce-myself > div > h2 {
    margin-bottom: var(--grid-gutter);
    color: #0ff;
    font-size: 27px;
    opacity: 0;
}
#hello-im-dustin-wrapper.on #desc-duce-myself > div > h2 {
    animation: opacityOn .4s 11s ease forwards;
}
#desc-duce-myself > div > p {
    font-size: 24px;
    line-height: 1.6;
    opacity: 0;
}
#desc-duce-myself > div > p:nth-child(2) {
    margin-bottom: 1rem;
}
#hello-im-dustin-wrapper.on #desc-duce-myself > div > p{
    animation: opacityOn .4s 11.2s ease forwards;
    transition: all 0.6s ease-in-out;
    text-shadow: 0 0 5px var(--point2-clr), 0 0 10px var(--point2-clr);
}
#hello-im-dustin-wrapper.on #desc-duce-myself > div > p:hover {
    text-shadow: 0 0 10px var(--point2-clr), 0 0 20px var(--point2-clr);
}
#end-pyo{
    animation: starBlink .7s 11.4s infinite ease-in-out;
}


/*my-skills-section*/
#my-skills-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#my-skills-section .the-planet {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 50%;
    background-image: linear-gradient(
        12deg, /*#00FFA2 #9effff*/
        #8af6f6 20%, 
        #a7efef 30%, 
        #9de1e1 40%, 
        #b1ffff 50%, 
        #b0eed7 60%, 
        #98f3d2 70%, 
        #80ebc3 80%, 
        #7af0c4 90%
    );
    box-shadow: 
        -20px -30px 40px rgba(17, 17, 17, 0.8) inset, 
        10px 10px 10px rgba(255, 255, 255, 0.3) inset;
    transform-style: preserve-3d;
    transform: translate3d(0, 1vmin, 100px) rotate3d(0, 0, 1, 2deg) scale(1);
    animation: floating 3s alternate ease-in-out infinite;
    cursor: pointer;
    will-change: transform, opacity;
    transition: box-shadow 1s, opacity .3s, transform .9s;
    z-index: 5;
}
#my-skills-section .the-planet::before,
#my-skills-section .the-planet::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: -70px;
    transition: filter .6s, box-shadow .6s;
}

#my-skills-section .the-planet::before {
    background-image: radial-gradient(
        transparent 50%, 
        rgba(123, 238, 251, 0.2) 60%, 
        transparent 70%
    );
    transform: translateY(1.2vmin) rotateX(72deg);
}

#my-skills-section .the-planet::after {
    background-image: radial-gradient(
        transparent 50%, 
        rgba(123, 238, 251, 0.2) 52%, 
        rgba(123, 238, 251, 0.2) 62%, 
        transparent 64%, 
        transparent 65%, 
        rgba(127, 243, 225, 0.2) 67%, 
        rgba(127, 243, 225, 0.2) 70%, 
        transparent 72%
    );
    transform: rotateX(72deg);
}
#my-skills-section > .this-planet-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(36%, -108%);
    background: transparent;
    width: 360px;
    color: var(--point4-clr);
    height: 170px;
    opacity: 0;
    transition: opacity 1s ease-out;
    padding: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #9effff;
    box-shadow: 0 0 10px #00D4FF;
    touch-action: none;
    pointer-events: none;
}
#my-skills-section .what-is-this-planet {
    position: fixed !important;
    z-index: 10;
    perspective: 800px;
    touch-action: none;
    pointer-events: none;
}
.what-is-this-planet .planet-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 300px;
}
.planet-name-wrapper > .planet-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.what-is-this-planet .planet-name-wrapper .planet-name > h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}
.what-is-this-planet .planet-name-wrapper .planet-name > p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
}
#my-skills-section .planet-bar {
    width: 2px;
    height: 100%;
    background: var(--point4-clr);
}
#my-skills-section .planet-skill-desc {
    letter-spacing: -1px;
    font-size: 19px;
    font-weight: 500;
}
#my-skills-section .planet-for-margin {
    margin-top: calc(2* var(--grid-gutter));
    margin-bottom: .625rem;
    width: 149.5px;
    height: 2.4px;
    background: var(--point4-clr);
}
#my-skills-section .my-speach{
    word-spacing: -2px;
}
#my-skills-section .planet-for-margin-bottom {
    margin-top: .625rem;
    width: 292px;
    height: 2.4px;
    background: var(--point4-clr);
}
#my-skills-section .this-planet-wrapper.on {
    opacity: 1;
}
.the-planet:hover {
    box-shadow: 0px 0px 40px 10px var(--point4-clr) !important;
}
.the-planet.on {
    animation: planetGoBig 1.7s ease-in forwards !important;
    box-shadow: 0px 0px 40px 10px var(--point4-clr) !important;
}
.the-planet.on::before {
    filter: brightness(1.3) blur(2px);
    -webkit-filter: brightness(1.3) blur(2px);
    box-shadow: 0px 0px 20px 5px #4e8792b8;
}
.the-planet.on::after {
    filter: brightness(1.3) blur(2px);
    -webkit-filter: brightness(1.3) blur(2px);
    box-shadow: 0px 0px 20px 15px #4e8792b8;
}
.the-planet.nowGo {
    animation: okGo 2s ease-out forwards !important;
}
#in-the-planet {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: radial-gradient(circle at center, #1d2f2f, #02050a 80%);
    z-index: 30;
    left: 0;
    top: 0;
    touch-action: none;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity .6s;
    overflow: hidden;
}
.ifClickBgGoOff {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    pointer-events: none;
    z-index: -1;
    background: transparent;
}
.ifClickBgGoOff.on {
    touch-action: auto;
    pointer-events: auto;
    cursor: pointer;
    z-index: 2;
}
.the-particles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    touch-action: none;
    cursor: auto;
    transition: scale 3s ease;
}
.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: floatTheParticles 4s linear infinite;
}
#in-the-planet.on {
    display: block;
    visibility: visible;
    touch-action: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#in-the-planet.goOn {
    opacity: 1;
}
#in-the-planet::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
}
#in-the-planet::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to right, rgba(64, 100, 255, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(64, 100, 255, 0.1) 1px, transparent 1px);
    background-size: 100px 100px;
    pointer-events: none;
}
#theTextBoxBetweenCodingAndDesign {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    left: 10%;
    top: 20%;
    transform: scale(1);
}
#theTextBoxBetweenCodingAndDesign.off {
    animation: theTextBoxClicked .4s ease forwards;
    filter: blur(.4px);
    -webkit-filter: blur(.4px);
}
.betweenBtn {
    position: relative;
    text-align: left;
    display: flex;
}
.betweenBtnFirst {
    height: min(6.3vw, 6.3vh);
    width: min(1.5vw, 1.5vh);
    background-color: var(--color-primary);
    transition: transform .1s ease-in;
    transition-delay: 0;
    border-top-left-radius: min(.2vw, .5vh);
    border-bottom-left-radius: min(.6vw, .6vh);
    transform: scale(0);
    transform-origin: left;
}
.betweenBtnFirst.on {
    transition-delay: .1s;
    transform: scale(1);
}
.betweenBtnSecond {
    position: relative;
    font-family: Orbitron;
    color: var(--color-primary);
    padding-left: min(1.1vw, 1.1vh);
    padding-top: min(1.2vw, 1.2vh);
    width: min(84vw, 84vh);
    height: clamp(25px, min(7.5vw, 7.5vh), 150px);
    overflow: hidden;
    border-bottom-left-radius: min(.8vw, .8vh);
    transition: height .4s ease-in-out, transform .4s ease-out, opacity .4s ease-out, filter .4s ease-out;
    transform-origin: left center;
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: all;
    gap: min(2.5vw, 2.5vh);
}
.betweenBtnSecond.on {
    height: min(29.2vw, 22.2vh);
    background: linear-gradient(100deg, #6a008ad0 30%, rgba(183, 31, 189, .1) 100%);
    opacity: 1;
}
.skill-swiper-wrapper {
    width: 100vw;
    padding: 1.5rem 0;
    opacity: 0;
    touch-action: none;
    pointer-events: none;
    transition: opacity .4s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #73bfc436;
    z-index: 3;
}
.skill-swiper-wrapper.on {
    opacity: 1;
    touch-action: auto;
    pointer-events: auto;
}
.btnSecondFirstP {
    font-weight: 700;
    font-size: min(6vw, 6vh);
    padding: 0;
    line-height: 1;
    font-size: clamp(21px ,calc(32px* var(--size)), 53px);
}
.btnSecondSecondP {
    font-weight: 700;
    font-size: min(2.5vw, 2.5vh);
    padding: 0;
    line-height: 1.5;
    padding-left: min(.5vw, .5vh);
    padding-bottom: min(1.1vw, 1.1vh);
    color: #fb87ff;
    font-size: calc(26px * var(--size));
}
.btnSecondThirdP {
    font-weight: 400;
    font-size: min(2.8vw, 2.8vh);
    padding: 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
}
.btnSecondThirdP span {
    display: flex;
    justify-content: flex-end;
    font-size: min(1.5vw, 1.5vh);
    width: min(11vw, 11vh);
    padding: 0;
    margin-left: min(.8vw, .8vh);
    margin-right: min(.8vw, .8vh);
    color: #fb87ff;
    font-size: calc(14px* var(--size));
}
.skill-swiper-wrapper .container {
    width: 220px;
    height: 310px;
    perspective: 600px; /* 3D 효과 */
    position: relative;
    transition: all 0.1s;
    transform-style: preserve-3d;
    will-change: transform, opacity;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-swiper-wrapper .card {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(11, 12, 16, 0.8) 10%, rgba(0, 212, 255, 0.3) 50%, rgba(0, 255, 162, 0.2) 90%);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.1s ease-in-out;
}
.skill-swiper-wrapper .overlay {
    position: absolute;
    width: 220px;
    height: 310px;
    background: radial-gradient(#ece7af77, transparent);
    background-size: 200% 200%;
    background-position: 100%;
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode: hard-light;
    transition: all .1s;
    mix-blend-mode: screen;
    border-radius: 10px;
}
.skill-swiper-wrapper .overlay::before {
    content: '';
    background-size: cover;
    background-position: center center;
    filter: brightness(2.5) contrast(1);
    opacity: calc((0.8 + 0.4)* 0.6);
    mix-blend-mode: multiply;
    background-blend-mode: hard-light, multiply;
    grid-area: 1 / 1;
    transform: translateZ(1px);
    border-radius: 4.55% / 3.5%;
}


.desc-wrapper {
    /* resize: both; */
    overflow: hidden;
    margin: auto;
    width: 80vw;
    height: 80vh;
    min-width: 330px;
    min-height: 210px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    transform-origin: center;
    filter: drop-shadow(0 0 75px rgb(128 0 255 / 0.25));
    -webkit-filter: drop-shadow(0 0 75px rgb(128 0 255 / 0.25));
    overflow: hidden;
    opacity: 0;
    touch-action: none;
    pointer-events: none;
    z-index: 10;
    transition: opacity .8s ease, transform .8s ease;
}
.desc-glow-con {
    position: absolute;
    inset: 0;
    display: grid;
    z-index: 2;
    pointer-events: none;
    --glow: drop-shadow(0 0 1px violet);
    filter: var(--glow) brightness(1.5) drop-shadow(0 0 10px violet);
}
input.sig {
    content: "attr(content)";
    position: absolute;
    bottom: 10px;
    right: 45px;
    z-index: 15;
    color: rgb(255 200 255);
    text-shadow: 0 0 12px #94889fd4;
    letter-spacing: 0.1em;
    width: calc(100% - 140px);
    background: transparent;
    border: none;
    text-align: right;
}
.desc-box {
    margin: auto;
    width: 100%;
    height: 100%;
    border-image: linear-gradient(to bottom left, rebeccapurple, orange) 1;
    filter: brightness(2);
}

section.desc-box {
    position: absolute;
    inset: 0;
    margin: auto;
}
.desc-bg {
    background: repeating-linear-gradient(to top, rgba(255, 255, 255, 0.03) 0px 2px, transparent 2px 4px), linear-gradient(to bottom, #200933 75%, #3d0b43);;
}
.desc-bg::before {
    content: '';
    height: 50%;
    width: 100%;
    display: block;
    background-image: linear-gradient(90deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px);
    background-position: bottom;
    background-repeat: repeat;
    background-size: 20px 20px;
    left: -25px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transform: perspective(100px) rotateX(60deg);
    z-index: 0;
}
button.desc-close-btn {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 110px;
    height: 50px;
    filter: brightness(1.675);
    opacity: 0.75;
    cursor: pointer;
    border: none;
    color: var(--point-clr);
    text-shadow: 0 0 12px rebeccapurple;
    font-size: 18px;
}
input.desc-title {
    position: absolute;
    top: 17px;
    left: 120px;
    width: calc(100% - 240px);
    background: transparent;
    color: rgb(255 200 255 / 0.5);
    text-shadow: 0 0 12px rebeccapurple;
    border: none;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 18px;
}
.desc-desc {
    position: absolute;
    inset: 80px 10px 10px 10px;
    font-size: 20px;
    color: white;
    filter: brightness(1.6);
}
.desc-desc > div {
    white-space: pre-line;
    word-break: break-all;
    padding: 0 1rem;
}
.desc-desc * {
    font-size: 26px;
    font-weight: normal;
    color: #b5b4b6;
    /*font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;*/
    overflow-y: scroll;
    line-height: 1.5;
    height: calc(100% - 30px) ;
    font-style: normal;
}
.augs {
    --aug-rect-l1: initial;
    --aug-l1-width: 110px;
    --aug-l1-height: 4px;
    --aug-l-center: 57px;
    
    --aug-rect-r1: initial;
    --aug-r1-width: (100% - 125px - 50px);
    --aug-r1-height: 4px;
    --aug-r-center: 57px;
    
    --aug-clip-tr1: initial;
    --aug-tr1-alt-join-out: initial;
    --aug-tr1: 17px;
    --aug-clip-tr2: initial;
    --aug-tr2: 17px;
    --aug-tr-extend1: 50px;
    
    --aug-round-tl1: initial;
    --aug-tl1: 8px;
    --aug-round-br1: initial;
    --aug-br1: 8px;
    margin: auto;
}
.desc-glow-con .augs {
    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(to bottom left, rebeccapurple, orange);
}
.desc-desc > div::-webkit-scrollbar{
    width: 6px;
    background: transparent;
    height: 1px;
}
.desc-desc > div::-webkit-scrollbar-thumb{
    background: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
}
.desc-desc > div::-webkit-scrollbar-track {
    background: rgba(69, 19, 118, 0.162);
    border-radius: 5px;
}
.skill-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3  ;
}
.skill-svg-wrapper {
    position: relative;
    z-index: 3;
}
.skill-svg-wrapper svg {
    width: 79px;
    aspect-ratio: 1 / 1;
    filter: brightness(1.2) contrast(1.2) blur(.2px) drop-shadow(4px 4px 11px #07becfd2);
    -webkit-filter: brightness(1.2) contrast(1.2) blur(.2px) drop-shadow(4px 4px 11px #07becfd2);
}
.skills {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    height: 12px;
}
.gage-bar {
    width: 100%;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}
.fill {
    height: 100%;
    width: 0;
    will-change: width;
    position: relative;
    will-change: width;
    filter: brightness(1.2) contrast(1.2) drop-shadow(0px 0px 2px 0px var(--color-primary)) blur(.2px);
    -webkit-filter: brightness(1.2) contrast(1.2) drop-shadow(0px 0px 2px 0px var(--color-primary)) blur(.2px);
}
.fill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    opacity: 0.7;
}
.skill-gage-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.fill.skill_html5 {
    background: rgb(228, 77, 38);
}
.fill.skill_css3 {
    background: #1572B6;
}
.fill.skill_js {
    background: #F0DB4F;
}
.fill.skill_JQ {
    background: #0868AC;
}
.fill.skill_GSAP {
    background: #0ae448;
}
.fill.skill_PS {
    background: #001e36;
}
.fill.skill_ilu {
    background: #FAA625;
}
.fill.skill_Fig {
    background: linear-gradient(to right, 
    #0acf83 0%,  #0acf83 15%, 
    #a259ff 25%, #a259ff 40%, 
    #f24e1e 50%, #f24e1e 65%, 
    #ff7262 70%, #ff7262 80%, 
    #1abcfe 85%, #1abcfe 100% 
  );  
}
.skill-gage-wrapper span {
    text-shadow: 0 0 5px var(--point2-clr), 0 0 10px var(--point2-clr);
}

